body {
    font-family: Arial, sans-serif;
    background: url('./Institute_Image.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: start center;
    min-height: 100vh;
    overflow-y: auto;
}

.projects-container {
    width: 80%;
    max-width: 1000px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    display: grid;
    gap: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

button, .logout-button {
    padding: 8px 16px;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.add-project-button {
    background-color: #4CAF50;
    width: 120px; /* Set a common width */
    height: 40px; /* Set a common height */
    margin: 0 auto; /* Center the button */
    display: block; /* Ensure it behaves as a block element */
}

.add-project-button:hover {
    background-color: green;
}

.view-notifications-button {
    width: 120px; /* Increased width */
    height: 40px; /* Increased height */
    background-color: red;
    position: absolute;
    top: 20px;
    right: 20px;
}

.view-notifications-button:hover {
    background-color: #45a049;
}

.logout-button {
    width: 50px; /* Smaller width */
    height: 20px; /* Smaller height */
    background-color: #007BFF;
    position: absolute;
    top: 20px;
    left: 20px;
}

.logout-button:hover {
    background-color: #0056b3;
}

.interested-button {
    background-color: #4CAF50;
    width: 120px; /* Set a common width */
    height: 40px; /* Set a common height */
}

.interested-button:hover {
    background-color: green;
}

.button-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
